.about-parent-container{
    margin-top:50px;
    width: 100%;
  
}
.about-child-container{
    margin: 30px 0 30px 5.5%;
   padding-top: 50px;
}
.about-child-container-h4{
   margin: 5px 20px;
   text-align: justify;
}


.triangular-bullet{
    font-size: 35px;
    color:orange;
    margin-right: 10px;
}
@media screen and (max-width:376px){
    .about-child-container-h4{
        margin: 5px 7%;
     }
    .about-parent-container{
        width:100%;
    }
    .about-child-container{
        width:100%;
        margin:0 5px 0 0;
        text-align:justify;
        
    }
  
}
@media screen and (max-width:530px) and (min-width:377px){
    .about-child-container{
        margin: 10px 0 0 5px;
    }
}