
.Showprofile{
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   margin-top: 100px;
   width:100%;
   justify-content:space-around;
   z-index: 100;
}
.I-am-Full-stack{
margin: -10px 10px 0 10px;
}
.header-line{
  width:100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 10px;
  gap:10px
}

.profile-pic{
    height:230px;
    width:230px;
    border-radius: 50%;
    margin: 10px 30px; 
    box-shadow: 1px 1px 10px black;
}
@media screen and (max-width:376px){
  .profile-pic{
    height:220px;
    width:220px; 
}
.hello-i-am{
  margin: -7px;
}
.header-line{
  width:80%;
  margin: 0 30px;
}
.I-am-Full-stack{
  margin: 7px 24px;
  }
}
@media screen and (max-width:427px) and (min-width:376px){
  .header-line{
    width:80%;
  }
  .hello-i-am{
  margin: -5px;
}
.I-am-Full-stack{
  margin: 7px 6px;
  }
  .profile-pic{
    height:220px;
    width:220px; 
}
}
@media screen and (max-width:769px) and (min-width:427px){
  .profile-pic{
    height:220px;
    width:220px; 
}
.header-line{
  width:96%;
  margin: 0 40px;
}
.I-am-Full-stack{
  margin: -5px 40px 10px;
  }
}