.project-image{
    height: 25vw;
    width: 36vw;
   box-shadow: 1px 1px 10px rgb(5, 5, 5);
    border-radius: 12px;
    margin:0 20px 0 20px;
   
}

.header-data-container{
    display: grid;
    /* border: 2px solid black; */
    max-width: 600px;
}
.project-container{
    /* border: 2px solid red; */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   text-align: center;
   margin: 10px 20px;
}
.live-button{
    width:120px;
    font-size: 25px;
    border-radius: 20px;
    height: 40px;
    border:none;
    margin-right: 10px;
    outline:2px solid #7f5af0;
    margin-bottom: 30px;
}
.live-button:hover{
    background-color: #7f5af0;
    outline: none;
    color:white;
    cursor: pointer;
   
}
.icon-tech{
    max-height: 60px;
    max-width:60px;
    min-height: auto;
    min-width: auto;
    margin: 8px 8px 20px 7px;
}
.data1-description{
    margin:0 15px 0 15px
}
@media screen and (max-width:376px){
    .project-image{
        height: 180px;
        width:270px;
    }
    .project-container{
        margin: 0 20px;
    }
}
@media screen and (max-width:427px) and (min-width:376px){
    .project-image{
        height: 190px;
        width:75%;
    }
    .project-container{
        margin: 0 20px;
    }
}
@media screen and (max-width:769px) and (min-width:427px){
    .project-image{
        height: 50vw;
        width:76%;
    }
}
@media screen and (max-width:1024px) and (min-width:769px){

    .project-image{
        height: 50vw;
        width:80%;
    }
}
