@tailwind base;
@tailwind components;
@tailwind utilities;
.style-shadow{
  box-shadow: 1px 1px 10px rgb(5, 5, 5);
}
.spiner{
  width:100%;
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover::after {
  content: "";
  display: none;
}
