body{
  /* rgba(50, 115, 220, 0.3) */
background-color:rgba(50, 115, 220, 0.3);
backdrop-filter: none;
  color:black;
  overflow-x: hidden;
}
.spiner{
  width:100%;
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}
a:hover::after {
  content: "";
  display: none;
}